/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a, a:link, a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}



/* ================================================================= */

@media (min-width: 200px) {

body {
	background-color: #1c1a1a;
}

.slider {
max-width: 100%;
height: auto;
background-color: #1c1a1a;
}

.wrapper {
	border: 1px solid #1c1a1a;
	border-radius: 26px;
	position: absolute;
	max-width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	background-color: #1c1a1a;
}

.navigation {
	position: absolute;
	bottom: 30%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.pag {
	width: 30px;
	height: 20px;
	cursor: pointer;
}

/* Вариант 2
.pag {
	border: 3px solid #51aef0;
	border-radius: 50%;
	background-color: #51aef0;
	opacity: 0.9;
	transition: all 0.4s ease;
	margin: 10px;
	z-index: 2;
}

.pag:hover {
background-color: #fff;
}*/


/* ВАРИАНТ 1*/

.pag::after {
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	border: 3px solid #51aef0;
	border-radius: 50%;
	background-color: #51aef0;
	opacity: 0.9;
	transition: all 0.4s ease;
	margin: auto;
}


input[name='m'] {
position: absolute;
visibility: hidden;
}

.slides {
	width: 400%;
	height: 100%;
	display: flex;
}

.slide {
	width: 25%;
	transition: all 0.6s ease;
}

.mem {
	width: 100%;
	height: 100%;
}

#mem1:checked ~ .active {
	margin-left: 0;
}

#mem2:checked ~ .active {
	margin-left: -25%;
}

#mem3:checked ~ .active {
	margin-left: -50%;
}

#mem4:checked ~ .active {
	margin-left: -75%;
}

/*.mem1:checked:has {} */

}

@media (min-width: 890px) {

	@media (hover: hover) {
		.pag:hover::after {
		content: '';
		background-color: #fff;
		border-color: #fff;
		}
		}
}